body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
    color: #333;
}

h1, header {
    color: #235aab;
    margin: 20px 0;
}
.image-cadre {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.image-cadre img {
    display: block; /* Élimine l'espace en dessous de l'image */
    width: 100%; /* Adapte l'image à la largeur du cadre */
    height: auto; /* Garde les proportions de l'image */
    border-radius: 5px; /* Bordures arrondies pour l'image, si souhaité */
}

button {
    background-color: #235aab; /* Bleu */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 400px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Bordures arrondies */
    transition-duration: 0.4s; /* Animation */
}

button:hover {
    background-color: #004C70; /* Couleur de fond plus foncée au survol */
    color: white;
}

/* Style spécifique pour les différents boutons */
#changeColor, #testBuzzer {
    background-color: #235aab; /* Bleu */
}

#changeColor:hover, #testBuzzer:hover {
    opacity: 0.8;
}

.controls {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}
.controls_moteur {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
  
    
}
.controls_phare {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
  
    
}
.controls_Tracky {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
  
    
}
.motor-controls {
    display: flex;
    justify-content: center;
    gap: 2
    0px;
}

.controls_Tracky, .joystick-section {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    background-color: #f9f9f9;
    text-align: center;
}
#joystick-zone {
    width: 80vw; /* 80% de la largeur de la fenêtre */
    height: 80vw; /* 80% de la largeur de la fenêtre pour garder un carré */
    max-width: 600px; /* Taille maximale pour grands écrans */
    max-height: 600px; /* Taille maximale pour grands écrans */
    margin: 0 auto;
    background-color: #e9ecef;
    border-radius: 10px;
    position: relative;
}
.nipple {
    width: 40% !important; /* 40% de la largeur du conteneur */
    height: 40% !important; /* 40% de la largeur du conteneur */
}
.nipple .back {
    width: 100% !important; /* 100% de la largeur de la nipple */
    height: 100% !important; /* 100% de la largeur de la nipple */
    margin-left: -50% !important; /* Ajuste pour centrer */
    margin-top: -50% !important; /* Ajuste pour centrer */
}
.nipple .front {
    width: 50% !important; /* 50% de la largeur de la nipple */
    height: 50% !important; /* 50% de la largeur de la nipple */
    margin-left: -25% !important; /* Ajuste pour centrer */
    margin-top: -25% !important; /* Ajuste pour centrer */
}
/* Media Queries pour différentes tailles d'écran */
@media (max-width: 600px) {
    #joystick-zone {
        width: 80vw; /* Réduire la taille pour les petits écrans */
        height: 80vw;
    }
}
/* Style pour rendre l'élément de couleur en forme de rond */
input[type="color"] {
    appearance: none; /* Permet de personnaliser l'apparence */
    width: 40px; /* Taille de l'élément */
    height: 40px;
    border-radius: 50%; /* Forme ronde */
    border: none; /* Supprime les bordures par défaut */
    outline: none; /* Supprime la bordure de focus */
    cursor: pointer; /* Curseur pointer au survol */
}
.motor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.motor button {
    padding: 10px;
    width: 100px; /* Ajustez la largeur en fonction de vos préférences */
}
.controls_Tracky {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motor-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacement entre les éléments */
}

.motor-horizontal {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les boutons */
}

.arrow, .square {
    width: 50px; /* Ajustez selon vos besoins */
    height: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

/* Styles spécifiques pour les flèches */
.up::before, .down::before, .left::before, .right::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    transform: translate(-50%, -50%);
}

.up::before {
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #235aab transparent;
}

.down::before {
    border-width: 15px 10px 0 10px;
    border-color: #235aab transparent transparent transparent;
}

.left::before {
    border-width: 10px 15px 10px 0;
    border-color: transparent #235aab transparent transparent;
}

.right::before {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #235aab;
}

/* Carré pour le bouton Stop */
.square {
    background-color: #235aab; /* Bleu */
}

.square:hover {
    background-color: #004C70; /* Bleu plus foncé au survol */
}
.servoSlider_1 {
    width: 300px;
}
.servoSlider_2 {
    width: 300px;
}


/* Si vous avez des éléments supplémentaires pour les mouvements */
#joystick-handle .handle {
    width: 100px;  /* Ajuster selon les dimensions internes */
    height: 100px; /* Ajuster selon les dimensions internes */
    background-color: rgba(0, 0, 255, 0.7); /* Exemple de couleur */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nipple {
    width: 200px !important; /* Double la largeur */
    height: 200px !important; /* Double la hauteur */
}
.nipple .back {
    width: 200px !important; /* Double la largeur */
    height: 200px !important; /* Double la hauteur */
    margin-left: -100px !important; /* Ajuste pour centrer */
    margin-top: -100px !important; /* Ajuste pour centrer */
}
.nipple .front {
    width: 100px !important; /* Double la largeur */
    height: 100px !important; /* Double la hauteur */
    margin-left: -50px !important; /* Ajuste pour centrer */
    margin-top: -50px !important; /* Ajuste pour centrer */
}